body {
  background-color: #3C3C3C;
  background-image: url('troopers.jpg');
  background-position: center;
  background-size:100%;
  background-repeat: no-repeat;
}

a {
  width: 90%;
  text-decoration: none;
  color: white;
  margin: 15px;
  font-size: 20px;
  font-family: varela round;
}

a:hover {
  color: rgb(255, 153, 0);
}

input {
  height: 30px;
  width: 250px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(204, 255, 204);
  outline: none;
  color: rgb(204, 255, 204);
  font-size: 20px;
}

::placeholder {
  color: rgba(255, 255, 255, .8);
  font-size: 15px;
  font-family: varela round;
}

.navbar {
  margin-top: 40px;
  margin-left: 20px;
  height: 30%;
}

.welcome {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 50px;
  font-family: varela round;
  font-weight: 600;
}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(204, 255, 204);
  font-size: 50px;
  font-family: varela round;
  font-weight: 600;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(204, 255, 204);
  font-size: 20px;
  font-family: varela round;
  font-weight: 400;
}

#searchInputs {
  display: flex;
  justify-content: center;
}

.searchTitle {
  margin: 20px;
}

.searchRatings {
  margin: 20px;
}

.searchYear {
  margin: 20px;
}

button {
  background: rgba(228, 130, 1, .5);
  border: 1px solid rgb(228, 130, 1);
  border-radius: 10px;
  width: 60px;
  height: 25px;
  color: white;
  outline: none;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(228, 130, 1);
}

.buttonX {
  background: rgba(255, 92, 51, .5);
  border: 1px solid rgb(255, 92, 51);
  border-radius: 10px;
  width: 40px;
  height: 25px;
  color: white;
  outline: none;
  margin-left: 5px;
  margin-top: 10px;
}

.buttonX:hover {
  background-color: rgb(255, 92, 51);
}

.buttonDetails {
  width: 100px;
}

.searchMovies {
  display: flex;
  justify-content: center;
  color: rgb(204, 255, 204);
  font-size: 20px;
  font-family: varela round;
  font-weight: 400;
}

.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
  width: 1000px;
  padding: 50px;
  justify-content: center;
  background-color: #3C3C3C;
  color: rgb(204, 255, 204);
  font-size: 20px;
  font-family: varela round;
  font-weight: 400;
}

p {
  color: white;
  font-family: varela round;
}

img {
  border: 1px solid black;
  border-radius: 5px;
}

#listContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #3C3C3C;
  padding: 50px;
}

#movies {
  padding: 50px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, .3);
}

.movieTitle {
  display: flex;
  justify-content: flex-start;
}

.filter {
  margin-bottom: 50px;
}

.moviesList {
  padding: 50px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, .3);
}
.list {
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  font-family: varela round;
}

.ratings {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: varela round;
}

.homeLink {
  display: flex;
  justify-content: center;
  margin-left: 38%;
  margin-right: 50%;
  width: 100%;
}
